body{
  font-family: sans-serif;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000;
  color: #fff;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading{
  margin-bottom: 50px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.input-wrapper label {
  display: inline-block;
  margin-bottom: 10px;
}

Button{
  margin-left: 20px;
}

input[type="file" i]{
  background-color: #CFE2FF;
}

.result{
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin-top: 20px;
  gap: 20px;
}

.box-image, .box-result{
  padding: 20px;
  background-color: #a6bad7;
}



